---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me | Akansel Cengiz";
const happy = true;
const finished = true;
const goal = 3;

const identity = {
  firstName: "Akansel",
  country: "Deutschland",
  occupation: "Full Stack Web Developer",
  hobbies: ["Lebenslanges Lernen", "Kochen", "Fitnesstudio"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "GitHub"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  /* h1 {
    color: purple;
    font-size: 4rem;
  } */
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h1>... my new Astro site!</h1>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finish this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p><p></p><ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <!-- <div
    class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 my-8 sm:my-16"
  >
  </div> -->
  <!-- <Card>
    <span slot="title">CSS</span>
    <div class="py-2">SASS</div>
    <div class="py-2">Bootstrap</div>
    <div class="py-2">Tailwind CSS</div>
  </Card>
  <Card>
    <span slot="title">JavaScript</span>
    <div class="py-2">Node.js</div>
    <div class="py-2">Vue.js</div>
    <div class="py-2">Astro</div>
  </Card>
  <Card>
    <span slot="title">PHP</span>
    <div class="py-2">Typo3</div>
    <div class="py-2">Symfony</div>
  </Card>
  <Card>
    <span slot="title">Datenbanken</span>
    <div class="py-2">MySQL</div>
    <div class="py-2">SQLite</div>
    <div class="py-2">MongoDB</div>
  </Card> -->

  <!-- <ol class="border-l border-neutral-300 dark:border-neutral-500"> -->
  <!--First item-->
  <!-- <li>
      <div class="flex-start flex items-center pt-3">
        <div
          class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500"
        >
        </div>
        <p class="text-sm text-neutral-500 dark:text-neutral-300">01.07.2021</p>
      </div>
      <div class="mb-6 ml-4 mt-2">
        <h4 class="mb-1.5 text-xl font-semibold">Title of section 1</h4>
        <p class="mb-3 text-neutral-500 dark:text-neutral-300">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas
          placerat facilisis mollis. Duis sagittis ligula in sodales vehicula.
        </p>
      </div>
    </li> -->

  <!--Second item-->
  <!-- <li>
      <div class="flex-start flex items-center pt-2">
        <div
          class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500"
        >
        </div>
        <p class="text-sm text-neutral-500 dark:text-neutral-300">13.09.2021</p>
      </div>
      <div class="mb-6 ml-4 mt-2">
        <h4 class="mb-1.5 text-xl font-semibold">Title of section 2</h4>
        <p class="mb-3 text-neutral-500 dark:text-neutral-300">
          Libero expedita explicabo eius fugiat quia aspernatur autem laudantium
          error architecto recusandae natus sapiente sit nam eaque, consectetur
          porro molestiae ipsam an deleniti.
        </p>
      </div>
    </li> -->

  <!--Third item-->
  <!-- <li>
      <div class="flex-start flex items-center pt-2">
        <div
          class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500"
        >
        </div>
        <p class="text-sm text-neutral-500 dark:text-neutral-300">25.11.2021</p>
      </div>
      <div class="ml-4 mt-2 pb-5">
        <h4 class="mb-1.5 text-xl font-semibold">Title of section 3</h4>
        <p class="mb-3 text-neutral-500 dark:text-neutral-300">
          Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit
          natus! Eum corporis illum nihil officiis tempore. Excepturi illo natus
          libero sit doloremque, laborum molestias rerum pariatur quam ipsam
          necessitatibus incidunt, explicabo.
        </p>
      </div>
    </li>
  </ol> -->

  <!-- ---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Wer bin ich ?";
--- -->
  <!-- 
<Layout>
  <h1 id="who-am-i">{pageTitle}</h1>
  <p>
    Hi! Mein Name ist Akansel und habe mich Anfang der 2000er mit der
    Webentwicklung beschäfigt. Die ersten Zeilen Code die ich geschrieben habe
    war 1999. Es war die Zeit der klobigen und hässlichen Websites welche
    Tabellen verwendeten um die gesamte Website zu positionieren und anzuordnen.
  </p>
  <p>
    In den 90er Jahren bestand meine Freizeit hauptsächlich darin, Videospiele
    zu spielen. Aber ich wollte auch eine Website. Natürlich eine Seite über
    Videospiele. Ohne Ahnung von irgendetwas versuchte ich, dieses hässliche
    Ding zu bauen. Damals wusste ich noch gar nicht, dass man eine Domain und
    einen Provider braucht, bei dem man den Code hochladen muss. Es war zu
    dieser Zeit noch sehr kostspielig, also hat meine erste Website nie die Welt
    gesehen. Aber diese erste Website war der Funke, der mich dazu brachte,
    meine Reise in die Webentwicklung zu beginnen.
  </p>

  <h2 id="skills">Technologien und Skills</h2>
  <p>
    Es gibt natürlich noch ein paar mehr, aber das sind die Technologien in
    denen ich aktuell fit bin. Alles andere liegt etwas zurück und ist nicht mit
    in der Liste. HTML versteht sich von selbst 🙂
  </p> -->

  <!-- TimeLine Pattern -->
  <!-- <div class="flex h-screen items-center justify-center bg-white px-6 md:px-60">
    <div class="space-y-6 border-l-2 border-dashed">
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-blue-500">Full Stack Web Development.</h4>
          <p class="mt-2 max-w-screen-sm text-sm text-gray-500">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.</p>
          <span class="mt-1 block text-sm font-semibold text-blue-500">2022</span>
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-blue-500">Graphic Design.</h4>
          <p class="mt-2 max-w-screen-sm text-sm text-gray-500">Aliquam tincidunt malesuada tortor vitae iaculis. In eu turpis iaculis, feugiat risus quis, aliquet urna. Quisque fringilla mollis risus, eu pulvinar dolor.</p>
          <span class="mt-1 block text-sm font-semibold text-blue-500">2007</span>
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-blue-500">Lead Ui/Ux Designer.</h4>
          <p class="mt-2 max-w-screen-sm text-sm text-gray-500">Aliquam tincidunt malesuada tortor vitae iaculis. In eu turpis iaculis, feugiat risus quis, aliquet urna. Quisque fringilla mollis risus, eu pulvinar dolor</p>
          <span class="mt-1 block text-sm font-semibold text-blue-500">2007</span>
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-blue-500">Lead Ui/Ux Designer.</h4>
          <p class="mt-2 max- -->
</BaseLayout>
