---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Über mich | Akansel Cengiz";
const description = "Über mich!";
// const happy = true;
// const finished = true;
// const goal = 4;

const identity = {
  firstName: "Akansel",
  city: "Wuppertal",
  age: "44",
  occupation: "Full Stack Web Developer",
  hobbies: [
    "Lebenslanges Lernen",
    "Kochen",
    "Fitnesstudio",
    "Kino",
    "Schwimmen",
  ],
  occupationNew: "Cloud Developer",
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "GitHub",
  "AWS",
  "Cypress",
];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  /* h1 {
    color: purple;
    font-size: 4rem;
  } */
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout {pageTitle} description={description}>
  <!-- <h1>... my new Astro site!</h1> -->

  <!-- <p>
    Ich arbeite seit einigen Monaten mit Astro/TailwindCSS und React an dieser
    Seite. Es ist kein Template alles wurde aus dem nichts Aufgebaut. Ich habe
    vorher noch nie mit Astro und TailwindCSS gearbeitet. Aber durch die sehr
    guten Dokumentationen habe ich mich gut zurecht gefunden.
  </p>

  {
    happy && (
      <p>
        Es macht mir enorm viel Spass mit Astro zu arbeiten, testen und neue
        Dinge auszuprobieren.
      </p>
    )
  }

  {
    finished && (
      <p>
        Ich bin unendlich froh mein Ziel erreicht zu haben und diese Seite
        Online setzen zu können.
      </p>
    )
  }

  {
    goal === 4 ? (
      <p>
        Mein goal war es 10-2023 zu starten und spätestens Ende 01-2024 fertig
        zu werden.
      </p>
    ) : (
      <p>
        Mein goal war es nicht 10-2023 zu starten und Ende 01-2024 fertig zu
        werden.
      </p>
    )
  } -->
  <section class="animate-fadeInSlideUp w-full">
    <img
      src="/images/cengiz.jpg"
      width="600"
      height="200"
      decoding="async"
      loading="lazy"
      alt="a pic shows how an API works"
      class="border-2 border-dark w-30 mr-2"
    />

    <p>
      Ich heiße {identity.firstName} bin {identity.age} Jahre alt und komme aus
      {identity.city}.
    </p>

    <p>
      Bevor ich mich voll und ganz der Full Stack Web Entwicklung verschrieben
      habe, war ich 10 Jahre in der Systemgastronomie tätig.
    </p>

    <p>
      Da ich schon immer in der IT arbeiten wollte, habe ich von September 2022
      bis Februar 2023 erfolgreich an einem {identity.occupation} Bootcamp teilgenommen.
      Durch die Teilnahme an diesem Bootcamp habe ich nicht nur wertvolle Fähigkeiten
      und Wissen erworben, sondern auch meine eigene Webseite entwickelt.
    </p>

    <p>
      Gleichzeitig habe ich mich intensiv auf meine erste AWS-Zertifizierung
      vorbereitet und diese erfolgreich bestanden. Die Zeit nach dem Bootcamp
      habe ich leidenschaftlich genutzt, um mein Wissen weiter zu vergrößern und
      zu festigen sowie meine Entwicklerkenntnisse kontinuierlich
      weiterzuentwickeln und zu vertiefen.
    </p>

    <p>
      Sogar im Wartezimmer beim Arzt nutze ich die Zeit, um mein Wissen mit
      verschiedenen Coding-Apps aufzufrischen und weiter zu üben.
    </p>

    <br />

    <p>
      <li>Mein Schulabschluss: Mittlere Reife</li>
    </p>

    <p>
      {
        identity.hobbies.length >= 3 && (
          <li>
            Meine Hobbies sind: {identity.hobbies[0]}, {identity.hobbies[2]}
            und das {identity.hobbies[1]}.
          </li>
        )
      }
    </p>

    <br />

    <p>
      Diese drei Hobbys klingen nicht nur gut, sondern ergänzen sich auch
      perfekt:<br />

      Das erste stärkt den Geist, das zweite den Körper und das dritte die
      Kreativität (...und den Bauch 😂).
    </p>

    <section>
      <p>Meine Skills sind:</p>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </section>

    <!-- Badges Section -->
    <section class="animate-fadeInSlideUp">
      <h1>Meine AWS Badges:</h1>
    </section>

    <section
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6 gap-4"
    >
      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="5a1d4644-4078-47bf-baa2-c87bb299082e"
        data-share-badge-host="https://www.credly.com"
      >
      </section>
      <script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="2896435d-ec25-4fda-ac07-ca81eec91120"
        data-share-badge-host="https://www.credly.com"
      >
      </section>
      <script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="14333596-5e63-4197-b5e1-6c327a932bdd"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="0f4e9fa4-e0be-40f0-a36a-27453d561ae9"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="08b269cf-c6d8-4447-aeeb-6e28cc404453"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="1ae49cf3-c3e4-4ce2-bccc-8e8dcbf4ca7b"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="1388b719-6d54-42a6-b58c-b6721b6e23f0"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="2979f8e5-5551-456d-97bf-c81af78c0a6d"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="85f32c58-fa9f-40f5-8013-b28181b2feba"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="dd6472b4-0213-4e0e-9d85-74dd367af219"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="b83b5ca6-61cf-46aa-99d1-0f35ec660ba1"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="0e337030-45d1-4aa2-a846-bf0ec21b8e49"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>
      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="1fbbd259-8624-475b-9a29-f1da274f40fa"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>

      <section
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="357a2c52-02ef-4184-a6a7-bc26e685d0dd"
        data-share-badge-host="https://www.credly.com"
      >
      </section><script
        is:inline
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"></script>
    </section>
  </section>
</BaseLayout>
