---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Über mich";
const description = "Über mich!";
const happy = true;
const finished = true;
const goal = 3;

const identity = {
  firstName: "Akansel",
  country: "Deutschland",
  occupation: "Full Stack Web Developer",
  hobbies: ["Lebenslanges Lernen", "Kochen", "Fitnesstudio"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "GitHub"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  /* h1 {
    color: purple;
    font-size: 4rem;
  } */
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle} description={description}>
  <!-- <h1>... my new Astro site!</h1> -->

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finish this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p><p></p><ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <section class="flex flex-row gap-4">
    <div
      data-iframe-width="150"
      data-iframe-height="270"
      data-share-badge-id="2896435d-ec25-4fda-ac07-ca81eec91120"
      data-share-badge-host="https://www.credly.com"
    >
    </div><script
      type="text/javascript"
      async
      src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div
      data-iframe-width="150"
      data-iframe-height="270"
      data-share-badge-id="0e337030-45d1-4aa2-a846-bf0ec21b8e49"
      data-share-badge-host="https://www.credly.com"
    >
    </div><script
      type="text/javascript"
      async
      src="//cdn.credly.com/assets/utilities/embed.js"></script>
  </section>
</BaseLayout>
