---
import { Icon } from "astro-icon";
import NavigationLink from "./NavigationLink.astro";

import Button from "../components/Button.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/");
---

<section class="flex items-end">
  <a href="/">
    <span class="overflow:hidden lg:block lg:text-2xl sm:text-xl text-lg"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 20 20"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M1 11C.08 11-.352 9.863.336 9.253l9-8a1 1 0 0 1 1.328 0l9 8C20.352 9.863 19.92 11 19 11h-1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-7H1Zm6 6v-5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5h3v-7a1 1 0 0 1 .512-.873L10 3.337l-6.512 5.79A1 1 0 0 1 4 10v7h3Zm2 0v-4h2v4H9Z"
          clip-rule="evenodd"></path>
      </svg>
      <span
        class="flex w-0 h-[1px] bg-dark dark:bg-light left-0 -bottom-1 group-hover:w-full transition-[width] ease duration-300 text-xs"
      ></span>
    </span>
  </a>
</section>

<NavigationLink title="" url="" currentpath={currentPath[1]} />
<NavigationLink title="About" url="about" currentpath={currentPath[1]} />
<NavigationLink title="Blog" url="blog" currentPath={currentPath[1]} />
<NavigationLink title="Resumee" url="resumee" currentpath={currentPath[1]} />
<NavigationLink
  title="Testimonials"
  url="testimonials"
  currentPath={currentPath[1]}
/>

<article class="flex items-center">
  <Button url="mailto:akcengiz@gmx.de" title="Contact" external={true} />
</article>

{
  currentPath[1] === "blog" && currentPath[2] ? (
    <a href="#toc" class="block md:hidden">
      <Icon name="mdi:toc" width="32" height="32" class="ml-2" />
    </a>
  ) : (
    ""
  )
}
