---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
import { getCollection } from "astro:content";
---

<BaseLayout pageTitle={frontmatter.title}>
  <section class="flex flex-col justify-center items-center w-full">
    <img
      src={frontmatter.image.src}
      class="border-dark border-2 w-full shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)] object-fill"
      alt={frontmatter.image.alt}
    />
    <section
      class="flex flex-row justify-between lg:text-base text-[9px] w-full"
    >
      <p>
        Verfasst von <a href="/about/">{frontmatter.author}</a>
      </p>
      <p>
        Veröffentlicht am {
          new Date(frontmatter.pubDate).toLocaleDateString("de-DE")
        }
      </p>
    </section>
    <section class="flex flex-col items-center w-10/12 text-justify">
      <h3 class="text-xl">{frontmatter.title}</h3>
      <p class="text-sm">{frontmatter.description}</p>
    </section>
    <hr class="border-1 border-dark w-10/12 mt-10 mb-20" />
    <!-- <p>{frontmatter.pubDate.toString().slice(0, 10)}</p> -->
    <slot />

    <hr class="w-10/12 bg-dark h-px my-8 border-0 dark:bg-gray-700" />
    <h1 class="text-left w-10/12">Tags:</h1>
    <section class="flex flex-wrap w-10/12 text-justify">
      {
        tags.map((tag) => (
          <p class="p-2 border-2 border-dark m-1 text-lg bg-dark">
            <a class="text-white" href={`/tags/${tag}`}>
              {tag}
            </a>
          </p>
        ))
      }
    </section>
  </section>
</BaseLayout>
