---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <section class="flex flex-col justify-center items-center w-full">
    <img
      src={frontmatter.image.src}
      class="rounded border-dark border-2 w-full shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)] object-fill"
      alt={frontmatter.image.alt}
    />
    <section class="flex flex-row justify-between w-full text-sm">
      <p>Verfasst von <a href="/about/">{frontmatter.author}</a></p>
      <p>
        Veröffentlicht am {
          new Date(frontmatter.pubDate).toLocaleDateString("de-DE")
        }
      </p>
    </section>
    <section class="flex flex-col justify-center items-center w-full">
      <h3>{frontmatter.title}</h3>
      <p>{frontmatter.description}</p>
    </section>
    <hr class="border-1 border-dark w-10/12 mt-10 mb-20" />
    <!-- <p>{frontmatter.pubDate.toString().slice(0, 10)}</p> -->
    <slot />
  </section>
</BaseLayout>
